// Import SASS modules
@use "sass:color";

// Override Bootstrap variables
$primary: #07B184;
$primary-dark: color.scale($primary, $lightness: -5%);
$primary-darker: color.scale($primary, $lightness: -10%);
$primary-light: color.scale($primary, $lightness: 5%);

// Import Bootstrap source files
@import "../lib/bootstrap/scss/bootstrap";

// Define custom variables
$font-size-mobile: 14px;
$font-size-desktop: 16px;

// Apply styles to HTML element
html {
    font-size: $font-size-mobile;
    // Media query for larger screens
    @media (min-width: 768px) {
        font-size: $font-size-desktop;
    }
    // Other styles for the HTML element
    position: relative;
    min-height: 100%;
}

// Apply styles to the body element
body {
    margin-bottom: 60px;
}

// Customize primary button
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus-visible {
    color: white !important;
}

// Customize nav-item
.nav-item {
    padding: 0.3rem 1rem;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item.active {
    background-color: $primary-darker;
}

.nav-item:hover {
    background-color: $primary-dark;
}

.validation-error {
    color: red;
    font-size: 0.9rem;
}
