// Import SASS modules
@use "sass:color";

// Override Bootstrap variables
$primary: #07B184;
$primary-dark: color.scale($primary, $lightness: -5%);
$primary-darker: color.scale($primary, $lightness: -10%);
$primary-light: color.scale($primary, $lightness: 5%);

// Import Bootstrap source files
@import "../lib/bootstrap/scss/bootstrap";

// Define custom variables
$font-size-mobile: 14px;
$font-size-desktop: 16px;

// Apply styles to HTML element
html {
    font-size: $font-size-mobile;
    // Media query for larger screens
    @media (min-width: 768px) {
        font-size: $font-size-desktop;
    }
    // Other styles for the HTML element
    position: relative;
    min-height: 100%;
}

// Apply styles to the body element
body {
    margin-bottom: 60px;
}

// Customize primary button
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus-visible {
    color: white !important;
}

// Customize nav-item
.nav-item {
    padding: 0.3rem 1rem;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item.active {
    background-color: $primary-darker;
}

.nav-item:hover {
    background-color: $primary-dark;
}

.validation-error {
    color: red;
    font-size: 0.9rem;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating__icon {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
    padding: 5px;
}

/* Change star color when selected */
/* Change star color when hovered */
.rating__icon:hover,
.rating__icon:hover ~ .rating__icon {
    color: gold; /* Change to your desired hover color */
}

/* Change star color when selected */
//.rating__input:checked ~ .rating__icon {
//    color: gold; /* Change to your desired selected color */
//}



//.rating__icon input[type="radio"]:checked + .rating__icon,
//.rating__icon input[type="radio"]:checked + .rating__icon:hover {
//    color: gold; /* Change to your desired selected color */
//}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

