@model UserPreferencesViewModel
@{
    ViewBag.Title = "Preferences";
}
<div class="row justify-content-center mt-5">
    <div class="col-lg-4">
        <img src="/images/preferences-illustration.svg" alt="Preference image" class="img-fluid">
    </div>
    <div class="col-lg-6 contents">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="mb-4">
                    <h3>@ViewBag.Title</h3>
                    <p class="mb-4">
                        Below you can update your preferences regarding food and drinks. When your preferences
                        don't match with the food and drinks provided at the board game night, we will give you a warning before
                        signing in for the board game night.
                    </p>
                </div>
                <form asp-controller="Account" asp-action="Preferences" method="post">
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="LactoseFree" class="form-check-input" />
                            <label asp-for="LactoseFree" class="form-check-label"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="NutFree" class="form-check-input" />
                            <label asp-for="NutFree" class="form-check-label"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="AlcoholFree" class="form-check-input" />
                            <label asp-for="AlcoholFree" class="form-check-label"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="Vegetarian" class="form-check-input" />
                            <label asp-for="Vegetarian" class="form-check-label"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mt-3">Update Preferences</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
