@model RegisterViewModel
@{
    ViewBag.Title = "Sign up";
    Layout = "Layout/_Unauthenticatedlayout";
}

<form asp-controller="Account" asp-action="Register" method="post">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
            <img src="/images/register-illustration.svg" alt="Register image" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div class="mb-4">
                <h3>@ViewBag.Title</h3>
                <p class="mb-4">Welcome to our community! We are thrilled that you are signing up. Please fill in your details below to create your account. Let's get started!</p>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group my-2">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="validation-error"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group my-2">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="validation-error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="validation-error"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="validation-error"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="validation-error"></span>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="form-group my-2">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                            <option value="">Select gender</option>
                        </select>
                        <span asp-validation-for="Gender" class="validation-error"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="BirthDate"></label>
                        <input asp-for="BirthDate" class="form-control" type="date" />
                        <span asp-validation-for="BirthDate" class="validation-error"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="City"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="validation-error"></span>
                    </div>

                    <div class="form-group my-2">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="validation-error"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary my-2 px-3">Sign up</button>
                <p class="mt-2">
                    Already have an account? <a asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
                </p>
            </div>
        </div>
    </div>
</form>
